* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.sidebar {
    background-color: rgb(0, 7, 61);
    color: white;
    height: 100vh;
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.logo {
    font-size: 18px;
    line-height: 0px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
}

.search input {
    border: none;
    width: 160px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    color: black;
}

.bars {
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.link:hover {
    border-right: 4px solid white;
    background-color: rgb(45, 51, 89);
}

.link_text {
    white-space: nowrap;
}

.active {
    border-right: 4px solid white;
    background-color: rgb(45, 51, 89);
}

.main-container{ 
    display: flex;
}

/* Board Game */

.board {
    height: 100vh;
    width: calc(100vw - 200px);
    border: 10px solid orange;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    /* transform: translate(-50%, -50%); */
}

.control {
    display: flex;
    margin: 10px;
    gap: 4px;
}

.control button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    background-color: green;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.control button:active {
    transform: scale(0.9);
}

.disable {
    background-color: grey;
}